<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Error</title>
</head>
<body>
<!--
    PS:
    Cara ini bisa dipake tapi dia bakal ngehandle seluruh error secara
    keseluruhan tanpa kecuali. Better digunakan untuk error yang memang umum
    dan general, sementara untuk tutorial ini akan lebih baik menghandle
    error secara spesifik
-->
<h2> Error</h2>
    <p>idKebunSafari kosong atau tidak ditemukan dan proses view/update/delete dibatalkan</p>
<a href="/">Kembali</a>
</body>
</html>